/* Основные цвета */
:root {
  --background-primary: #4fbfa5;
  --background-secondary: #00868a;
  --text-color-primary: #ffffff;
  --text-color-secondary: #000000;
  --main-font-family: Gilroy, sans-serif;
}

body {
  font-weight: 500;
}
